*{
        margin: 0;
        padding: 0;


}

html{
    background-color: rgb(109, 117, 196);
}

body{
    width: 800px;
    height: 1800px;
    margin: auto;
    background-color: rgb(241, 226, 141);
}

header{
    width: 750px;
    height: 250px;
    background-color: rgb(241, 226, 141);
}

nav{
    width:750px;
    height: 50px;
    background-color:  rgb(241, 226, 141);
}

main{
    width: 750px;
    height: 400px;
    background-color:rgb(241, 226, 141);
}

footer{
    width: 750px;
    height: 50px;
    background-color: rgb(241, 226, 141);
}

section#Banner
{
    width: 500px;
    height: 250px;
    background-color:  rgb(241, 226, 141);
    float: left;
}

section#logo
{
    width: 250px;
    height: 125px;
    background-color:rgb(241, 226, 141);
    float: left;
}

section#login
{
    width: 250px;
    height: 125px;
    background-color: rgb(241, 226, 141);
    float: left;
}

aside#izquierda
{
    width: 150px;
    height: 400px;
    background-color:  rgb(241, 226, 141);
    float: left;
}

article{
    width: 500px;
    height: 400px;
    float: left;
    background-color:  rgb(241, 226, 141);
}

aside#derecha
{
    width: 100px;
    height: 400px;
    background-color: rgb(241, 226, 141);
    float: left;
}